<div class="container">
  <form class="redeem-form" (ngSubmit)="onRedeemSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="signature">Signature:</label>
      <input id="signature" ngModel class="form-control" name="signature">
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="amount">Check Amount:</label>
        <input id="amount" ngModel class="form-control" name="amount" type="number" step="0.01" placeholder="ETH">
      </div>
      <div class="form-group">
        <label for="nonce">Check Nonce:</label>
        <input id="nonce" ngModel class="form-control" name="nonce" type="number" min="1">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Redeem</button>
      </div>
    </div>
  </form>
</div>
